  .cardh1{
    position: relative;
    font-size: 36px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  .aboutustext{
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }
  .t{
    margin-top: 50px;
  }
  .tt{
    margin-top: 50px;
  }
  h3{
    font-size: 30px;
    text-align: center;
    margin-right: 200px;
  }
  .red{
    font-size: 30px;
    color: red;
    text-align: center;
    margin-top: -65px;
    margin-left: 300px;
  }
  .categories{
      width: 100%;
      height: 950px;
      margin-top: -50px;
  }
  .card1{
    width: 340px;
    height: 283px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    float: left;
    cursor: pointer;
}
  
  .card2{
    width: 340px;
    height: 283px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: 400px;
    cursor: pointer;
  }
  .card3{
    width: 340px;
    height: 283px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 50px;
    cursor: pointer;
  }
  .card4{
    width: 340px;
    height: 283px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: -284px;
    margin-left: 400px;
    cursor: pointer;
  }

  .card1:hover{
    transform: scale(1.2);
  }

  .card2:hover{
    transform: scale(1.2);
  }
  .card3:hover{
    transform: scale(1.2);
  }
  .card4:hover{
    transform: scale(1.2);
  }

.producttype2{
  margin-left: 40px;
  margin-top: 30px;
} 
.producttype3{
  margin-left: 22px;
  margin-top: 20px;
} 
.producttype4{
  margin-left: 20px;
  margin-top: 30px;
} 
.categoriestext1{
  text-align: center;
  font-family: Poppins;
  margin-left: -140px;
}
.categoriestext2{
  text-align: center;
  margin-top: -70px;
  margin-left: 200px;
  font-family: Poppins;
}
.categoriestext3{
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  margin-left: 50px;
  margin-top: -20px;
}

.button{
  width: 154px;
  height: 51px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: 4px;
  background: #4BFFFF;
  border-radius: 10px;
  margin-left: 298px;
  margin-top: 70px;
  cursor: pointer;
}

h6{
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 10px;
  letter-spacing: 5px;
  }
.caption{
  margin-top: 15px;
}
.caption323{
  margin-top: -5px;
}
.caption3{
  margin-top: 11px;
}




@media screen and (min-width: 768px) {
  .About{
    width: 100%;
    height: 350px;
    margin-top: -150;
  }
  .aboutustext{
    font-size: 15px;
    right: 0;
    left: 0;
    position: absolute;
    margin: auto;
  }

  .cardh1{
    position: relative;
    font-size: 36px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    right: 0;
    left: 0;
    margin: auto;
  }
  .categories{
    height: 620px;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .cards{
    width: 450px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;

  }
  .card1,.card2,.card3,.card4{
    width: 200px;
    height: 200px;
  }
  .card3{
    margin-top: 50px;
  }
  .card4{
   margin-top: -200px;
   margin-left: 250px;
  }

  .card2{
    margin-left: 250px;
  }

  .button{
    margin-left: 150px;
    margin-top: 50px;
  }
  h6{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-top: 10px;
    letter-spacing: 5px;
    }
    .caption{
      margin-top: -20px;
    }
    .caption2{
      margin-top: -10px;
    }
    .caption323{
      margin-top: -45px;
      text-align: center;
    }
}

@media screen and (min-width: 992px) {
  .About{
    position: absolute;
    height: 400px;
    margin-top: 30px;
  }
 .aboutustext{
   position: absolute;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 20px;
   text-align: center;
   color: #000000;
   left: 0;
   right: 0; 
   margin: auto;
   margin-top: 10px;
 }
 .cardh1{
   margin-top: 10px;
 }
 .categories{
   margin-top: 450px;
 }
 .t{
   margin-top: 30px;
 }
 .tt{
   margin-top: 30px;
 }
 .card1,.card2,.card3,.card4{
  width: 340px;
  height: 283px;
}
.card2{
  margin-left: 400px;
}
.card4{
  margin-top: -283px;
  margin-left: 400px;
}
 .cards{
   width: 740px;
   position: absolute;
   left: 0;
   right: 0; 
   margin: auto;
 }

 .categories{
   height: 110vh;
 }
 .button{
  margin-top: 60px;
  margin-left: 290px;
 }
 .caption{
   margin-top: 15px;
 }
 .caption2{
   margin-top: 15px;
 }
 .caption323{
   margin-top: -10px;
 }
}

@media screen and (min-width: 1200px) {
  .About{
    width: 100%;
  }
  .cardh1{
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
  }
  .aboutustext{
    position: absolute;
    left: 0;
    right: 0; 
    margin: auto;
  }
  .cards{
   width: 740px;
   position: absolute;
   left: 0;
   right: 0; 
   margin: auto;
  }
   .button{
     margin-top: 50px;
     margin-left: 292px;
   }
   .categories{
     height: 108vh;
     margin-top: 500px;
   }
   .categoriestext1{
     margin-left: -210px;
   }
   .categoriestext2{
     margin-left: 110px;
   }
}

@media screen and (max-width: 425px) {
  .About{
    margin-top: -350px;
  }
  .cardh1{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
  }
  .cards{
    margin-top: -5px;
    width: 380px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  .aboutustext{
    font-size: 10px;
    margin-top: -10px;
    line-height: 10px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;

  }
  .categories{
    width: 100%;
    height: 530px;
    margin-top: 250px;
  }
  .categoriestext1{
    font-size: 25px;
    margin-left: -160px;
  }
  .categoriestext2{
    font-size: 25px;
    margin-top: -55px;
    margin-left: 110px;
  }
  .categoriestext3{
    margin-left: 10px;
  }
  .card1{
    width: 180px;
    height: 160px
  }
  .card2{
    width: 180px;
    height: 160px;
    margin-left: 200px;
  
  }
  .card3{
    width: 180px;
    height: 160px;
    margin-top: 10px;
  }
  .card4{
    width: 180px;
    height: 160px;
    margin-top: -160px;
    margin-left: 200px;
  }
  .producttype1{
    margin-left: 30px;
    margin-top: 10px;
    width: 120px;
    height: 120px;
  }
  .producttype2{
    margin-left: 30px;
    margin-top: 10px;
    width: 120px;
    height: 120px;
  }
  .producttype3{
    margin-left: 30px;
    margin-top: 10px;
    width: 120px;
    height: 120px;
  }
  .producttype4{
    margin-left: 30px;
    margin-top: 10px;
    width: 120px;
    height: 120px;
  }
  .button{
    margin-top: 30px;
    margin-left: 140px;
    width: 100px;
    height: 30px;
    font-size: 15px;
  }
  .card1:hover{
    transform: none;
  }
  .card2:hover{
    transform: none;
  }
  .card3:hover{
    transform: none;
  }
  .card4:hover{
    transform: none;
  }
  h6{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
    margin-top: 2px;
    letter-spacing: 3px;
    }
    .caption{
      margin-top: 2px;
    }
    .caption2{
      margin-top: 2px;
    }
    .caption323{
      margin-top: -16px;
    }
  }
  
  @media screen and (max-width: 375px) {
    .categories{
      height: 450px;
    }
    .card{
      margin-right: 80px;
    }
   
    .aboutustext{
      font-size: 8px;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
    }
    .categoriestext1{
      margin-left: -130px;
    }
    .categoriestext2{
      margin-left: 135px;
    }
    .categoriestext3{
      margin-left: 5px;
    }
    .cards{
      width: 315px;
    }
    .button{
      margin-left: 100px;
    }
    .card1,.card2,.card3,.card4{
      width: 150px;
      height: 130px;
    }
    .producttype1{
      width: 100px;
      height: 90px;
    }
    .producttype2{
      width: 100px;
      height: 90px;
    }
    .producttype3{
      width: 100px;
      height: 90px;
    }
    .producttype4{
      width: 100px;
      height: 90px;
    }
    .card2,.card4{
     margin-left: 165px;
    }
    .card4{
      margin-top: -130px;
    }
    .button{
      width: 130px;
      margin-left: 95px;
    }
    h6{
      font-family: Montserrat;
      font-size: 11px;
      line-height: 22px;
      color: #000000;
      margin-top: 2px;
      letter-spacing: 1px;
      }
      .caption{
        margin-top: 2px;
      }
      .caption2{
        margin-top: 2px
      }  
  }
  
  