.Networking{
    width: 80%;
    height: 50vh;
    margin-bottom: 50px;
    margin-left: 160px;
    margin-top: 60px;    
}
.Network-header{
    text-align: center;
    letter-spacing: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.brands-categories6{
    position: absolute;
    width: 762px;
    height: 345px;
    background: #FFFFFF;
    border: 3px solid rgba(79, 79, 79, 0.71);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: 340px;
}
.asus3{
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    width: 178px;
    height: 93px;
}
.cisco{
    position: absolute;
    width: 150px;
    height: 79px;
    margin-left: 300px;
    margin-top: 30px;
}
.tp-link{
    margin-left: 580px;
    margin-top: 40px;
    position: absolute;
    width: 111px;
    height: 111px;
}
.D-link{
    margin-left: 300px;
    margin-top: 150px;
    position: absolute;
    width: 154px;
    height: 154px;
}

/* this is for computers */
@media screen and (max-width: 1440px) {
    .Networking{
        width: 100%;
        height: 60vh;
        margin-left: 0px;
    }
    .brands-categories6{
        margin-left: 320px;
    }
}
@media screen and (max-width: 1024px) {
    .Networking{
        width: 100%;
        margin-left: 0px;    
    }
    .brands-categories6{
        margin-left: 130px;
    }
    .header-caption{
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .Networking{
        width: 100%;
    }
    .brands-categories6{
        margin-left: 0px;
    }
}

@media screen and (max-width: 425px) {
    .brands-categories6{
        width: 90%;
        margin-left: 18px;
    }
    .Networking{
        width: 100%;
        height: 60vh;
    }
    .asus3{
        margin-left: 0px;
    }
    .asus3logo{

    }
    .cisco{
        margin-left: 250px;
        margin-top: 45px;
    }
    .ciscologo{
        width: 120px;
        height: 80px;
    }
    .tp-link{
        margin-left: 10px;
        margin-top: 200px;
    }
    .tp-linklogo{

    }
    .D-link{
        margin-top: 200px;
        margin-left: 250px;
        width: 100px;
        height: 100px;
    }
    .Dlinklogo{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 375px) {
    .cisco{
        margin-left: 200px;
    }
    .D-link{
        margin-left: 210px;
    }
    .brands-categories6{
        margin-left: 14px;
    }

}