.Contact{
    height: 100vh;
}

.formbox{
    position: absolute;
    width: 90%;
    height: 700px;
    background: white;
    border: 5px solid #6FCF97;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 89px;
    margin-top: 10px;
}

.formhead{
    font-size: 25px;
    justify-content: center;
    text-align: center;
}
.formhr{
    width: 150px;
    background: black;
    height: 2px;
    margin-top: -3px;
}

.register-box{
    position: absolute;
    width: 300px;
    height: 400px;
    position: absolute;
    box-sizing: border-box;
    margin-left: 1100px;
    margin-top: -520px;
}
.pic{
    width: 500px;
    height: 300px;
    position: absolute;
    margin-left: 130px;
    margin-top: 100px;
}

.vl5{
    width: 1px;
    background: black;
    height: 500px;
    margin-top: 30px;
    border: 2px solid #000000;
    margin-left: 830px;
 
}

input{
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 3px solid #7D7D7D;
    box-sizing: border-box;
    border-radius: 50px;
    
}

.register-box p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
}

.name,.phone{
        width: 270px;
}
.email,.org,.sser{
    width: 400px;
}
:placeholder-shown{
    font-style: italic;
}
/* 
.fa-phone{
    position: relative;
    font-size: 25px;
    left: -40px;
    top: 3px;
    color: #7D7D7D;
    
} */
.sser{
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 50px;
    height: 35px;
    background: white;
    border: 3px solid #7D7D7D;
    font-style: italic;
}


.submitbtn{
    position: absolute;
    width: 155px;
    height: 50px;
    background: #6FCF97;
    border-radius: 6px;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #000000;
    margin-left: -350px;
    margin-top: -50px;
    cursor: pointer;

}

@media screen and (min-width: 768px) {
    .Contact{
        height: 78vh;
        width: 100%;
        margin-bottom: 20px;
    }
    .formbox{
        width: 740px;
        height: 530px;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        margin-top: 50px;
    }
    .formhr{
        margin-top: -17px;
        margin-left: 292px;
    }
    .pic{
        width: 250px;
        height: 150px;
        margin-top: 100px;
        margin-left: 30px;
    }
    .vl5{
        height: 350px;
        margin-left: 360px;
    }
    .register-box{
        margin-top: -380px;
        margin-left: 415px;
    }
    .register-box p{
        font-size: 14px;
    }
    input{
        padding: 5px;
        border-radius: 20px;
        margin-bottom: 10px;
        border: 3px solid #7D7D7D;
        box-sizing: border-box;
        margin-bottom: 2px;
    }
    .email,.org,.sser{
        width: 300px;
    }
    .submitbtn{
        width: 120px;
        height: 40px;
        margin-left: -406px;
        margin-top: 120px;
    }
    .phone1{
        margin-left: -25px;
        margin-top: 10px;
        position: absolute;
        margin-top: 5px;
    }
}

/* this is for pc */
@media screen and (min-width: 992px) {
    .Contact{
        height: 600px;
        margin-bottom: 50px;
    }
    .formbox{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        margin-top: 30px;
        width: 900px;
    }
    .formcontent{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 850px;
        height: 520px;
    }
    .formhr{
        margin-left: 370px;
        margin-top: -15px;
    }
    .pic{
        width: 350px;
        height: 210px;
        margin-left: 20px;
    }
    .vl5{
        margin-left: 425px;
    }
    .register-box{
        margin-left: 480px;
    }
    .formhr{
        margin-left: 350px;
    }
    .submitbtn{
        margin-top: 100px;
        margin-left: -410px;
    }
}


/* this is for mobile phones */
@media screen and (max-width: 425px) {
    .Contact{
        height: 120vh;
        margin-top: 20px;
 
    }
    .formbox{
        height: 830px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
       
    }
    .formhr{
        margin-left: 128px;
    }
    .vl5{
        height: 0.2px;
        width: 300px;
        border: 1px solid black;
        margin-left: 50px;
        margin-top: 210px;
    }
    .pic{
        width: 250px;
        height: 150px;
        margin-top: 0px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .register-box{
        margin-left: 0px;
        margin-top: 20px;
        margin-left: 50px;
    }
    .register-box p{
        text-align: center;
    }
    .name,.phone{
        width: 240px;
        margin-left: 30px;
    }
    .email,.org,.sser{
        width: 300px;
    }
    .submitbtn{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 70px;
        height: 40px;
        width: 130px;
    }
}

@media screen and (max-width: 375px) {
    
    .formhr{
        margin-left: 105px;
    }
    .pic{
        margin-left: 65px;
    }
    .vl5{
        margin-left: 30px;
    }
    .register-box{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
}