.Monitor{
    width: 80%;
    height: 50vh;
    margin-bottom: 50px;
    margin-left: 160px;
    margin-top: 60px; 
}
.monitor-header{
    text-align: center;
    letter-spacing: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.brands-categories2{
    position: absolute;
    width: 762px;
    height: 345px;
    background: #FFFFFF;
    border: 3px solid rgba(79, 79, 79, 0.71);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: 330px;
}
.asus1{
    position: absolute;
    width: 178px;
    height: 93px;
    margin-top: 35px;
}
.samsung{
    position: absolute;
 
    width: 190px;
    height: 72px;
    margin-top: 30px;
    margin-left: 230px;
}
.hp{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left: 480px;
    margin-top: 30px;
}
.Lg{
    position: absolute;
    width: 116px;
    height: 56px;
    margin-left: 610px;
    margin-top: 40px;
}
.Viewsonic{
    position: absolute;
    width: 190px;
    height: 103px;
    margin-top: 160px;
}
.Dell{
    position: absolute;
    width: 125px;
    height: 125px;
    margin-left: 230px;
    margin-top: 160px;
}
.aoc{
    position: absolute;
    width: 174px;
    height: 60px;
    margin-left: 410px;
    margin-top: 190px;
}
.Benq{
    position: absolute;
    width: 111px;
    height: 111px;
    margin-left: 630px;
    margin-top: 170px;
}



@media screen and (min-width: 1200px) {
    .Monitor{
        width: 80%;
        height: 55vh;
    }
    
}

@media screen and (min-width: 768px) {
    .Monitor{   
        width: 100%;
        margin-left: 0px;
        height: 460px;
    }
    .brands-categories2{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 100px;  
    }
    .monitor-header{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
}
/* this is for mobile phones */
@media screen and (max-width: 425px) {
    .Monitor{
        width: 80%;
        height: 68vh;
        margin-bottom: 50px;
        margin-left: 40px;
        margin-top: 60px; 
    }
    .monitor-header{
        letter-spacing: 4px;
        margin-left: 20px;
    }
    .brands-categories2{
        position: absolute;
        width: 80%;
        height: 400px;
        background: #FFFFFF;
        border: 3px solid rgba(79, 79, 79, 0.71);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 50px;
    }
    .asus1{
        position: absolute;
        margin-left: -70px;
        margin-top: -100px;
    }
    .asuslogo{
        width: 150px;
        height: 80px;
    }
    .samsung{
        position: absolute;
        margin-left: 180px;
        margin-top: 8px;
    }
    .samsunglogo,.vsnoiclogo,.benqlogo{
        width: 150px;
        height: 80px;
    }
    .hp{
        position: absolute;
        margin-left: 20px;
        margin-top: 110px;
    }
    .hplogo,.lglogo,.Delllogo,.aoclogo{
        width: 100px;
        height: 60px;
    }
    .Lg{
        position: absolute;
        margin-lefT: 200px;
        margin-top: 110px;
    }

    .Viewsonic{
        position: absolute;
        margin-top: 200px;
        margin-left: -1px;
    }
    .Dell{
        position: absolute;
        margin-top: 210px;
        margin-left: 200px;
        width: 100px;
        height: 60px;
    }
  .aoc{
      position: absolute;
      margin-left: 30px;
      margin-top: 300px;
  }
  .Benq{
      position: absolute;
      margin-left: 0px;
      margin-top: 300px;
      margin-left: 180px;
  }
}

@media screen and (max-width: 375px) {
    .brands-categories2{
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        margin-top: 50px;
    }
    .asus1{
        position: absolute;
        margin-left: 10px;
        margin-top: 10px;
        width: 130px;
        height: 80px;
    }
    .asuslogo{
        width: 130px;
        height: 80px;
        margin: 1px;
    }
    .samsung{
        position: absolute;
        margin-left: 160px;
        margin-top: 8px;
        width: 130px;
        height: 80px;
    }
    .samsunglogo{
        width: 130px;
        height: 80px;
    }
    .Lg{
        margin-left: 170px;
    }
    .Dell{
        margin-left: 180px;
    }
    .Benq{
        width: 150px;
        height: 80px;
        margin-left: 160px;
    }
}