.Computerperipherals{
    width: 100%;
    height: 90vh;
    margin-bottom: 50px;
    margin-top: 60px;

}
.peripherals-header{
    text-align: center;
    letter-spacing: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.brands-categories4{
    position: absolute;
    width: 762px;
    height: 720px;
    background: #FFFFFF;
    border: 3px solid rgba(79, 79, 79, 0.71);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.dell2{
    position: absolute;
    width: 125px;
    height: 125px;
    margin-left: 30px;
    margin-top: 10px;
}
.hp3{
    position: absolute;
    width: 110px;
    height: 110px;
    margin-left: -140px;
    margin-top: 10px;
}
.lenova{
    position: absolute;
    width: 195px;
    height: 160px;
    margin-left: 550px;
    margin-top: 10px;
}
.logitech{
    position: absolute;
    width: 214px;
    height: 85px;
    margin-top: 205px;
    margin-left: 30px;
}
.iball{
    position: absolute;
    width: 73px;
    height: 93px;
    margin-top: 200px;
    margin-left: 350px;
}
.westerndigital{
    position: absolute;
    width: 153px;
    height: 153px;
    margin-top: 170px;
    margin-left: 550px;
}
.crucial{
    position: absolute;
    width: 180px;
    height: 97.73px;
    margin-top: 320px;
    margin-lefT: 30px;
}
.creative{
    position: absolute;
    width: 180px;
    height: 120px;
    margin-top: 310px;
    margin-left: 300px;
}
.sandisk{
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 270px;
    margin-left: 550px;
}
.transcend{
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 400px;
    margin-left: 30px;
}
.toshiba{
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 400px;
    margin-left: 300px;
}
.sony{

    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 400px;
    margin-left: 550px;
}
.adata{

    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 540px;
    margin-left: 30px;

}
.seagate{

    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 560px;
    margin-left: 290px;
}
.kingston{
    position: absolute;
width: 180px;
height: 46.07px;
margin-top: 620px;
margin-left: 550px;
}


@media screen and (min-width: 1200px) {
    .Computerperipherals{
        width: 100%;
        height: 110vh;
        
    }
    .brands-categories4{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
}


@media screen and (min-width: 768px) {
    .Computerperipherals{
        margin-left: 0px;
        width: 100%;
        height: 850px;
    }
    .brands-categories4{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 50px;
    }
}

/* this is for mobile phones */
@media screen and (max-width: 425px) {
 
    .Computerperipherals{
        width: 100%;
        height: 130vh;
        margin-bottom: 50px;
        margin-left: 0px;
    }
    .peripherals-header{
        text-align: center;
        letter-spacing: 5px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }

    .brands-categories4{
        width: 90%;
        height: 900px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        margin-top: 60px;
    }
   
    .dell{
        width: 150px;
        height: 80px;
        margin-left: -20px;
    }
    .hp3{
        margin-left: 250px;
        margin-top: -90px;
    }
    .logitechlogo{
        width: 150px;
    }
    .logitech{
        width: 150px;
        height: 50px;
        margin-top: 150px;
    }
    .iballlogo{
        width: 70px;
    }
    .iball{
        width: 70px;
        margin-top: 140px;
        margin-left: 270px;
    }
    .crucial{
        width: 180px;
        height: 80px;
        margin-top: 282px;
        margin-left: 15px;
    }
    .cruciallogo{
        width: 180px;
        height: 80px;
    }
    .creativelogo{
        width: 180px;
        height: 80px;
    }
    .creative{
        width: 180px;
        height: 80px;
        margin-left: 220px;
        margin-top: 280px;
    }
    .transcendlogo{
        width: 250px;
        height: 150px;
    }
    .transcend{
        width: 250px;
        height: 150px;
        margin-left: -15px;
        margin-top: 360px;
    }
    .toshiba{
        width: 180px;
        height: 100px;
        margin-left: 210px;
        margin-top: 390px;
    }
    .toshibalogo{
        width: 180px;
        height: 100px;
    }
    .adata{
        width: 180px;
        height: 130px;
        margin-top: 460px;
        margin-left: 5px;
    }
    .adatalogo{
        width: 180px;
        height: 130px;
    }
    .seagate{
        width: 200px;
        height: 150px;
        margin-top: 460px;
        margin-left: 190px;
    }
    .segatelogo{
        width: 200px;
        height: 150px;
    }
    .lenova{
        width: 180px;
        height: 100px;
        margin-top: 600px;
        margin-left: 20px;
    }
    .lenovalogo{
        width: 180px;
        height: 100px;
    }
    .westerndigital{
        margin-top: 560px;
        margin-left: 220px;
    }
    .westerndigitallogo{
        width: 150px;
        height: 80px;
    }
    .sandisk{
        margin-left: 10px;
        width: 180px;
        height: 100px;
        margin-top: 700px;
    }
    .sandisklogo{
        width: 180px;
        height: 100px;
    }
    .sony{
        margin-left: 220px;
        width: 180px;
        height: 100px;
        margin-top: 700px;
    }
    .sonylogo12{
        width: 180px;
        height: 100px;
    }
    .kingston{
        margin-top: 800px;
        margin-left: 120px;
    }

}

@media screen and (max-width: 375px) {
    .Computerperipherals{
        overflow-x: hidden;
        overflow-wrap: nowrap;
    }
    .peripherals-header{
        font-size: 17px;
        text-align: center;
    }
    .brands-categories4{
        width: 95%;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        margin-top: 50px;
    }
    .dell{
        width: 110px;
        height: 70px;
        margin-left: 10px;
    }
    .hp3{
        margin-left: 210px;
        margin-top: -100px;
    }
    .logitechlogo{
        width: 110px;
    }
    .logitech{
        width: 110px;
        height: 40px;
        margin-top: 150px;
    }
    .iballlogo{
        width: 50px;
    }
    .iball{
        width: 70px;
        margin-top: 140px;
        margin-left: 270px;
    }
    .crucial{
        width: 120px;
        height: 80px;
        margin-top: 282px;
        margin-left: 15px;
    }
    .cruciallogo{
        width: 120px;
        height: 80px;
    }
    .creativelogo{
        width: 110px;
        height: 80px;
    }
    .creative{
        width: 110px;
        height: 80px;
        margin-left: 220px;
        margin-top: 280px;
    }
    .transcendlogo{
        width: 110px;
        height: 150px;
    }
    .transcend{
        width: 250px;
        height: 150px;
        margin-left: 20px;
        margin-top: 360px;
    }
    .toshiba{
        width: 170px;
        height: 100px;
        margin-left: 180px;
        margin-top: 390px;
    }
    .toshibalogo{
        width: 180px;
        height: 100px;
        margin-left: 10px;
    }
    .adata{
        width: 120px;
        height: 130px;
        margin-top: 460px;
        margin-left: 10px;
    }
    .adatalogo{
        width: 120px;
        height: 130px;
    }
    .seagate{
        width: 120px;
        height: 80px;
        margin-top: 460px;
        margin-left: 220px;
    }
    .segatelogo{
        width: 120px;
        height: 150px;
        margin-top: -30px;
    }
    .lenova{
        width: 110px;
        height: 100px;
        margin-top: 600px;
        margin-left: 30px;
      
    }
    .lenovalogo{
        width: 110px;
        height: 100px;
    }
    .westerndigital{
        margin-top: 560px;
        margin-left: 200px;
    }
    .westerndigital{
        width: 110px;
        height: 80px;
        margin-left: 190px;
    }
    .westerndigitallogo{
        width: 110px;
        height: 80px;
    }
    .sandisk{
        margin-left: 10px;
        width: 110px;
        height: 100px;
        margin-top: 700px;
    }
    .sandisklogo{
        width: 180px;
        height: 100px;
    }
    .sony{
        margin-left: 180px;
        width: 180px;
        height: 100px;
        margin-top: 700px;
    }
    .sonylogo12{
        width: 180px;
        height: 100px;
    }
    .kingston{
        margin-top: 800px;
        margin-left: 120px;
    }
    .kingstonlogo{
        width: 130px;
    }

}