.producttext1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-left: -150px;
}
.producttext2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: -70px;
    font-size: 36px;
    margin-left: 110px;
}
.producttext3{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
margin-top: -15px;
margin-left: 50px;
}

.listof-products{
    width: 100%;
    height: 200vh;
  
}
.cards2{
    position: absolute;
    margin-left: 550px;
    margin-top: 100px;
}
.card11{
    width: 340px;
    height: 283px;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    float: left;
    cursor: pointer;
}
  
  .card22{
    width: 340px;
    height: 283px;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: 400px;
    cursor: pointer;
  }
  .card33{
    width: 340px;
    height: 283px;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 50px;
    cursor: pointer;
  }
  .card44{
    width: 340px;
    height: 283px;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: -284px;
    margin-left: 400px;
    cursor: pointer;
  }
  .card55{
    width: 340px;
    height: 283px;
    background:#F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 50px;
    float: left;
    cursor: pointer;
  }
  .card66{
    width: 340px;
    height: 283px;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 400px;
    cursor: pointer;
  }
  .card77{
    width: 340px;
    height: 283px;
    background:#F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 50px;
    float: left;
    cursor: pointer;
  }
  .card88{
    width: 340px;
    height: 283px;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 400px;
    cursor: pointer;
  }
  .card99{
    width: 340px;
    height: 283px;
    background:#F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 50px;
    float: left;
    cursor: pointer;
  }
  .card10{
    width: 340px;
    height: 283px;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 400px;
    cursor: pointer;
  }

  /* this is for pc */
  @media screen and (max-width: 1440px) {
    .listof-products{
      height: 220vh;
    }
    .cards2{
      margin-left: 350px;
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 1024px) {
    .cards2{
      margin-left: 150px;
    }
  }
  @media screen and (max-width: 768px) {
    .producttext1{
      margin-left: -190px;
    }
    .producttext2{
      margin-left: 80px;
    }
    .producttext3{
      margin-right: 50px;
    }
    .listof-products{
      height: 165vh;
    }
    .cards2{
      margin-left: 10px;
    }
    .card11,.card22,.card33,.card44,.card55,.card66,.card77,.card88,.card99,.card10{
      width: 200px;
      height: 200px;
    }
    .card11,.card33,.card55,.card77,.card99{
      margin-left: 150px;
    }
    .card33{
      margin-top: 50px;
    }
    .card44{
      margin-top: -200px;
    }
  }

  /* this is for mobile phones */
  @media screen and (max-width: 425px) {
    .card11,.card22,.card33,.card44,.card55,.card66,.card77,.card88,.card99,.card10{
      width: 180px;
      height: 160px;
    }
    .cards2{
      margin-left: -126px;
      margin-top: 10px;
    }
    .listof-products{
      height: 120vh;
    }
    .card33{
      margin-top: 15px;
    }
    .card44{
      margin-top: -160px;
    }
    .card55,.card66,.card77,.card88,.card99,.card10{
      margin-top: 15px;
    }
    .card22,.card44,.card66,.card88,.card10{
      margin-left: 350px;
    }
  }

  @media screen and (max-width: 375px) {
    .card11,.card22,.card33,.card44,.card55,.card66,.card77,.card88,.card99,.card10{
      width: 150px;
      height: 130px;
    }
    .card44{
      margin-top: -130px;
    }
    .cards2{
      margin-left: -120px;
    }
    .card11,.card33,.card55,.card77,.card99{
    margin-left: 150px;
    }
    .card22,.card44,.card66,.card88,.card10{
      margin-left: 320px;
    }
    .listof-products{
      height: 100vh;
    }
  }
 