
  .slider2 {
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  .slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background: white;
  }
  
  .slide:nth-of-type(2) {
    background: white;
  }
  
  .slide:nth-of-type(3) {
    background: white;
  }

  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    margin-top: -150px;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }
  .testimony-data{
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 0px;
    margin-top: 50px;
}
.testimony-data2{
  position: absolute;
  font-size: 20px;
  font-family: Poppins;
  margin-left: 0px;
  margin-top: 120px;
}
.testimony-data3{
  position: absolute;
  font-size: 20px;
  font-family: Poppins;
  margin-left: 0px;
  margin-top:80px;
}
.testi1{
  margin-left: 100px;
}
.testi2{
  margin-top: -15px;
  margin-left: 140px;
}
.testi3{
  margin-top: -45px;
  margin-left: 160px;
}
.testi44{
  margin-top: -15px;
  margin-left: 300px;
}
.testi4{
  margin-top: 15px;
  margin-left: 300px;
}
.testi5{
  margin-top: -60px;
  margin-left: 200px;
}
.testi6{
  margin-top: -15px;
  margin-left: 100px;
}
.testi7{
  margin-top: -50px;
  margin-left: 45px;
}
.testi8{
  margin-top: -20px;
  margin-left: 50px;
}
.testi9{
  margin-top: -20px;
  margin-left: 230px;
}
.testi99{
  margin-top: -20px;
  margin-left: 150px;
}
.testi10{
  margin-top: 15px;
  margin-left: 250px;
}
.testi11{
  margin-top: 44px;
  margin-left: 130px;
}
.testi12{
  margin-top: -20px;
  margin-left: 180px;
}
.testi13{
  margin-top: -50px;
  margin-left: 150px;
}
.testi114{
  margin-left: 120px;
}


@media screen and (min-width: 768px) {
  .slide_viewer {
    height: 240px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
  }
  
  .testimony-data{
    position: absolute;
    font-size: 15px;
    font-family: Poppins;
    margin-left: 0px;
    margin-top: 50px;
}
.testimony-data2{
  position: absolute;
  font-size: 15px;
  font-family: Poppins;
  margin-left: 0px;
  margin-top: 120px;
}
.testimony-data3{
  position: absolute;
  font-size: 15px;
  font-family: Poppins;
  margin-left: 0px;
  margin-top: 10px;
}
.testi1{
  margin-left: 80px;
}
.testi2{
  margin-top: -18px;
  margin-left: 120px;
}
.testi3{
  margin-top: -45px;
  margin-left: 140px;
}
.testi44{
  margin-top: -15px;
  margin-left: 230px;
}
.testi4{
  margin-top: 15px;
  margin-left: 240px;
}
.testi5{
  margin-top: -60px;
  margin-left: 180px;
}
.testi6{
  margin-top: -15px;
  margin-left: 100px;
}
.testi7{
  margin-top: -40px;
  margin-left: 45px;
}
.testi8{
  margin-top: -20px;
  margin-left: 50px;
}
.testi9{
  margin-top: -20px;
  margin-left: 180px;
}
.testi99{
  margin-top: -20px;
  margin-left: 150px;
}
.testi10{
  margin-top: 15px;
  margin-left: 250px;
}
.testi11{
  margin-top: 44px;
  margin-left: 130px;
}
.testi12{
  margin-top: -20px;
  margin-left: 180px;
}
.testi13{
  margin-top: -40px;
  margin-left: 150px;
}
.testi114{
  margin-left: 120px;
}
}

@media screen and (min-width: 992px) {
  .testimony-data{
    position: absolute;
    font-size: 15px;
    font-family: Poppins;
    margin-left: 100px;
    margin-top: 50px;
}
.testimony-data2{
  position: absolute;
  font-size: 15px;
  font-family: Poppins;
  margin-left: 100px;
  margin-top: 120px;
}
.testimony-data3{
  position: absolute;
  font-size: 15px;
  font-family: Poppins;
  margin-left: 100px;
  margin-top: 10px;
}
}


@media screen and (max-width: 425px) {
  .slide_viewer {
    height: 233px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-top: 98px;
   
}

.testimony-data{
    position: absolute;
    font-size: 9.5px;
    font-family: Poppins;
    margin-left: 0px;
    margin-top: 60px;
    width: 500px;
}
.testimony-data2{
    position: absolute;
    font-size: 9px;
    font-family: Poppins;
    margin-left: 0px;
    margin-top: 130px;
}
.testimony-data3{
  position: absolute;
  font-size: 9.5px;
  font-family: Poppins;
  margin-left: 0px;
  margin-top: 80px;
}
.testi1{
  margin-left: 15px;
}
.testi2{
  margin-top: -5px;
  margin-left: 40px;
}
.testi3{
  margin-top: -20px;
  margin-left: 60px;
}
.testi44{
  margin-top: -10px;
  margin-left: 130px;
}
.testi4{
  margin-top: 15px;
  margin-left: 130px;
}
.testi5{
  margin-top: -60px;
  margin-left: 70px;
}
.testi6{
  margin-top: -5px;
  margin-left: 30px;
}
.testi7{
  margin-top: -20px;
  margin-left: 10px;
}
.testi8{
  margin-top: -10px;
  margin-left: 10px;
}
.testi9{
  margin-top: -10px;
  margin-left: 80px;
}
.testi99{
  margin-top: -10px;
  margin-left: 50px;
}
.testi10{
  margin-top: 15px;
  margin-left: 100px;
}
.testi11{
  margin-top: 10px;
  margin-left: 20px;
}
.testi12{
  margin-top: -5px;
  margin-left: 50px;
}
.testi13{
  margin-top: -20px;
  margin-left: 40px;
}
.testi114{
  margin-left: 20px;
}
}

@media screen and (max-width: 375px) {
  .slide_viewer {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-top: 98px;
   
}
.testimony-data{
  position: absolute;
  font-size: 8.5px;
  font-family: Poppins;
  margin-left: 0px;
  margin-top: 60px;
  width: 500px;
}
.testimony-data2{
  position: absolute;
  font-size: 8.5px;
  font-family: Poppins;
  margin-left: 0px;
  margin-top: 130px;
}
.testimony-data3{
position: absolute;
font-size: 8.5px;
font-family: Poppins;
margin-left: 0px;
margin-top: 80px;
}
.testi1{
  margin-left: 15px;
}
.testi2{
  margin-top: -5px;
  margin-left: 40px;
}
.testi3{
  margin-top: -20px;
  margin-left: 60px;
}
.testi44{
  margin-top: -10px;
  margin-left: 100px;
}
.testi4{
  margin-top: 15px;
  margin-left: 100px;
}
.testi5{
  margin-top: -60px;
  margin-left: 70px;
}
.testi6{
  margin-top: -5px;
  margin-left: 30px;
}
.testi7{
  margin-top: -20px;
  margin-left: 5px;
}
.testi8{
  margin-top: -10px;
  margin-left: 5px;
}
.testi9{
  margin-top: -10px;
  margin-left: 80px;
}
.testi99{
  margin-top: -10px;
  margin-left: 50px;
}
.testi10{
  margin-top: 15px;
  margin-left: 100px;
}
.testi11{
  margin-top: 10px;
  margin-left: 20px;
}
.testi12{
  margin-top: -5px;
  margin-left: 50px;
}
.testi13{
  margin-top: -20px;
  margin-left: 40px;
}
.testi114{
  margin-left: 20px;
}
}