.Printers{
    width: 80%;
    height: 50vh;
    margin-bottom: 50px;
    margin-left: 160px;
    margin-top: 60px;
    
}
.Printer-header{
    text-align: center;
    letter-spacing: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.brands-categories3{
    position: absolute;
    width: 762px;
    height: 345px;
    background: #FFFFFF;
    border: 3px solid rgba(79, 79, 79, 0.71);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: 350px;
    margin-top: 10px;
}
.canon{
    position: absolute;
    width: 189px;
    height: 52px;
    margin-top: 50px;
    margin-left: 80px;
}
.epson{
    position: absolute;
    width: 195px;
    height: 68px;
    margin-left: 320px;
    margin-top: 50px;
}
.hp2{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 600px;
    margin-top: 50px;
}
.Tvs{
    position: absolute;
    width: 140px;
    height: 101px;
    left: 190px;
    margin-top: 200px;
}
.brother{
    position: absolute;
    width: 195px;
    height: 75px;
    margin-left: 425px;
    margin-top: 220px;
}

@media screen and (max-width: 1440px) {
    .Printers{
        width: 80%;
        height: 55vh;
        
    }
    .brands-categories3{
        margin-left: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .Printer-header{
        margin-left: -110px;
    }
    .brands-categories3{
        margin-left: -30px;
    }
}

@media screen and (max-width: 768px) {
    .brands-categories3{
        margin-left: -160px;
    }
    .Printer-header{
        margin-left: -180px;
    }
}

@media screen and (max-width: 425px) {
    .Printers{
        height: 72vh;
        width: 80%;
        margin-left: 45px;
    }
    .Printer-header{
        margin-left: 10px;
        letter-spacing: 4px;
    }
    .brands-categories3{
        width: 80%;
        height: 450px;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 50px;
    }
    .canon{
        position: absolute;
        width: 120px;
        height: 90px;
        margin-left: 20px;
    }
    .canonlogo,.brotherlogo,.tvslogo{
        width: 120px;
        height: 90px;
    }
    .epson{
        position: absolute;
        width: 120px;
        height: 90px;
        margin-left: 200px;
    }
    .epsonlogo{
        width: 120px;
        height: 90px;
    }
    .hp2{
        position: absolute;
        margin-left: -450px;
        margin-top: 180px;
        margin-left: -395px;
        width: 120px;
        height: 90px;
    }
    .Tvs{
        position: absolute;
        margin-top: 300px;
        width: 120px;
        height: 90px;
        margin-left: -70px;
    }
    .brother{
        margin-left: 25px;
        margin-top: 180px;
        width: 120px;
        height: 90px;
    }
}

@media screen and (max-width: 375px) {
    .canon,.brother{
        margin-left: 10px;
    }
    .epson{
        margin-left: 170px;
    }
    .hp2{
        margin-left: -420px;
        margin-top:  190px;
    }
    .Tvs{
        margin-left: -95px;
    }
    .brands-categories3{
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
      margin-top: 50px;
    }
}